.input-group {
    align-items: stretch;
    display: flex;
    flex-wrap: wrap;
    position: relative;
    width: 100%;
}

.autocomplete-list .cleaner-btn {
    background: #0000 !important;
    border: 0;
    bottom: 0;
    position: absolute;
    right: 0;
    top: 0;
}
.autocomplete-list input {
    border-color: #0000;
    border-bottom: 1px solid var(--bs-gray-300);
    border-radius: 0;
    outline: none;
    padding-bottom: 15px;
    width: 100%;
}

.mobile .content-grid {
    background: #fff;
    display: grid;
    padding: 10px 20px 10px 0;
    place-content: center;
}

.mobile .content-grid .container-grid-destination {
    display: flex;
    gap: 1rem;
    margin-bottom: 2rem;
    margin-top: 2rem;
    overflow-x: scroll;
}
