<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../style/bootstrap.css">
    <link rel="stylesheet" href="../style/about-services-hotel.css">
    <link rel="stylesheet" href="../style/common.css">
</head>
<body>
    <div class="container">
        <div class="py-1 pb-1 container-page container-xl">
            <div class="container-information-service-bg  bg-white p-4 mb-4">
                <div class="box-tittle-column-state-about-hotel">
                    <h2 class="details-title-description">Acerca del hotel</h2>
                    <div class="box-info-hide">Con una ubicación privilegiada en un bonito rincón caribeño, este encantador
                        complejo es la elección perfecta para familias que viajan con niños. Sus huéspedes estarán alojados a
                        sólo 22 kilómetros del aeropuerto internacional de Cancún y a pocos pasos de una playa de fina y blanca
                        arena, ideal para todo el que busca paz y tranquilidad. Las cómodas y amplias opciones de alojamiento
                        cuentan con todos los servicios e instalaciones para que sus huéspedes disfruten de una experiencia
                        inolvidable. Las suites estándar presentan una decoración de estilo contemporáneo y ofrecen vistas a las
                        zonas ajardinadas o a la piscina. Las suites cuentan con alegres toques de vivos colores y disponen de
                        balcón o terraza y de una acogedora sala de estar, ideal para compartir momentos en familia. Las
                        opciones gastronómicas son impresionantes e incluyen especialidades nacionales e internacionales,
                        mientras que los más pequeños disfrutarán de lo lindo con el completo programa de animación.</div>
                </div>
                <div class="box-more-details"><button type="button" class="btn-more-details btn btn-link">Ver más <svg
                            stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 512 512" height="1em"
                            width="1em" xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M256 294.1L383 167c9.4-9.4 24.6-9.4 33.9 0s9.3 24.6 0 34L273 345c-9.1 9.1-23.7 9.3-33.1.7L95 201.1c-4.7-4.7-7-10.9-7-17s2.3-12.3 7-17c9.4-9.4 24.6-9.4 33.9 0l127.1 127z">
                            </path>
                        </svg></button></div>
            </div>
            <div class="container-information-service-bg p-4 bg-white mb-4">
                <div class="rounded-5 bg-white w-100">
                    <div class="border-bottom-solid pb-4">
                        <h2 class="mb-4 text-subtitle">¿Qué contiene?</h2>
                        <div class="box-hashotel-column-list box-tittle-column-state">
                            <div class="box-hashotel-item">
                                <h5 class="py-3"><b>3 jacuzzis</b></h5>
                                <div class="box-icon-container">
                                    <div class="container-text-icon ">
                                        <div class="d-flex" style="align-items: center;">
                                            <div class="container-icon color-primary"><svg stroke="currentColor" fill="none"
                                                    stroke-width="2" viewBox="0 0 24 24" stroke-linecap="round"
                                                    stroke-linejoin="round" height="1em" width="1em"
                                                    xmlns="http://www.w3.org/2000/svg">
                                                    <polyline points="20 6 9 17 4 12"></polyline>
                                                </svg></div>
                                            <div class="container-text ">3 Jacuzzis</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="box-more-details" qui="con read-more-less service HotelDetails"><button type="button"
                                qui="btn read-more HotelDetails" class="btn-more-details btn btn-link">Ver más <svg
                                    stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 512 512"
                                    height="1em" width="1em" xmlns="http://www.w3.org/2000/svg">
                                    <path
                                        d="M256 294.1L383 167c9.4-9.4 24.6-9.4 33.9 0s9.3 24.6 0 34L273 345c-9.1 9.1-23.7 9.3-33.1.7L95 201.1c-4.7-4.7-7-10.9-7-17s2.3-12.3 7-17c9.4-9.4 24.6-9.4 33.9 0l127.1 127z">
                                    </path>
                                </svg></button></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>