<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../style/bootstrap.css">
    <link rel="stylesheet" href="../style/paxes-box.css">
    <link rel="stylesheet" href="../style/common.css">
</head>

<body>
    <div role="dialog" aria-modal="true" class="fade wrapper-collage modal show" tabindex="-1"
        style="display: block; padding-right: 8px;">
        <div class="modal-dialog modal-fullscreen">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="btn-close" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="box-search-select-options-rooms ">
                        <div class="pb-2 box-select-pax">
                            <div class="vstack gap-3">
                                <div class="box-select-people-search adult-0">
                                    <div class="box-select-people-search-container">
                                        <span class="fs-6">Adultos</span>
                                        <div class="form-select-count-pax hstack gap-2">
                                            <button type="button"
                                                class="btn btn-outline-primary">
                                                -
                                            </button>
                                                <span>2</span>
                                                <button
                                                type="button" class="btn btn-outline-primary">
                                                +
                                            </button>
                                        </div>
                                    </div>
                                    <div><span class="text-muted subtext">18 años o más</span></div>
                                </div>
                                <div class="box-select-people-search child-0">
                                    <div class="box-select-people-search-container">
                                        <span class="fs-6">Niños</span>
                                        <div class="form-select-count-pax hstack gap-2">
                                            <button type="button" disabled=""
                                                class="form-select-count-pax-item-disabled btn btn-outline-primary">
                                                -
                                            </button>
                                            <span>0</span>
                                            <button type="button" class="btn btn-outline-primary">
                                                +
                                            </button>
                                        </div>
                                    </div>
                                    <div><span class="text-muted subtext">De 0 a 17</span></div>
    
                                    <div class="container-select-years">
                                        <p class="w-100">Edad</p>
                                        <div class="box-years">
                                            <select class="form-select" id="child-0-0">
                                                <option value="0">0</option>
                                                <option value="1">1</option>
                                                <option value="2">2</option>
                                                <option value="3">3</option>
                                                <option value="4">4</option>
                                                <option value="5">5</option>
                                                <option value="6">6</option>
                                                <option value="7">7</option>
                                                <option value="8">8</option>
                                                <option value="9">9</option>
                                                <option value="10">10</option>
                                                <option value="11">11</option>
                                                <option value="12">12</option>
                                                <option value="13">13</option>
                                                <option value="14">14</option>
                                                <option value="15">15</option>
                                                <option value="16">16</option>
                                                <option value="17">17</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="btn-paxs d-block d--sm-flex can-add-room"><button type="button"
                                class="hover-text-bg btn-select-options-rooms-submit btn-add btn btn-light btn-md">Agregar
                                habitación</button></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>