<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../style/bootstrap.css">
    <link rel="stylesheet" href="../style/booker-most-region.css">
    <link rel="stylesheet" href="../style/common.css">
</head>
<body>
    <div class="modal-grid-destination">
        <div class="content-grid">
            <div class="tile-modal">Buscar por región</div>
            <div class="container-grid-destination">
                <div class="btn-card-grid "><button type="button" class="btn-grid btn btn-light"><img class="img"
                            src="https://cdn.majoristravel.com/branding/autocompleteGrid/cancun-gird.jpg"></button>
                    <div class="text">Cancún</div>
                </div>
                <div class="btn-card-grid "><button type="button" class="btn-grid btn btn-light"><img class="img"
                            src="https://cdn.majoristravel.com/branding/autocompleteGrid/acapulco-grid.jpg"></button>
                    <div class="text">Acapulco</div>
                </div>
                <div class="btn-card-grid "><button type="button" class="btn-grid btn btn-light"><img class="img"
                            src="https://cdn.majoristravel.com/branding/autocompleteGrid/los-cabos-grid.jpg"></button>
                    <div class="text">Los Cabos</div>
                </div>
                <div class="btn-card-grid "><button type="button" class="btn-grid btn btn-light"><img class="img"
                            src="https://cdn.majoristravel.com/branding/autocompleteGrid/mazatlan-grid.jpg"></button>
                    <div class="text">Mazatlan</div>
                </div>
                <div class="btn-card-grid "><button type="button" class="btn-grid btn btn-light"><img class="img"
                            src="https://cdn.majoristravel.com/branding/autocompleteGrid/riviera-aya-grid.jpg"></button>
                    <div class="text">Riviera Maya</div>
                </div>
                <div class="btn-card-grid "><button type="button" class="btn-grid btn btn-light"><img class="img"
                            src="https://cdn.majoristravel.com/branding/autocompleteGrid/puerto-vallarta-grid.jpg"></button>
                    <div class="text">Puerto Vallarta</div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>