<html>
<header>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="../style/bootstrap.css">
    <link rel="stylesheet" href="../style/booker-container-home.css">
    <link rel="stylesheet" href="../style/common.css">

</header>

<body>
    <div>
        <div class="container-site">
            <div class="item-flex-grow son-layout">
                <section class="search-booking-section">
                    <div class="search-realtrips">
                        <div class="container-booking-fluid">
                            <div
                                class="container-booking-fluid-content container-booking-fluid-content-rounded container">
                                <h1 class="title title-rounded  text-center">¿Quieres planificar tu próximo viaje?</h1>
                                
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
</body>

</html>