<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../style/bootstrap.css">
    <link rel="stylesheet" href="../style/common.css">
    <link rel="stylesheet" href="../style/card-hotel.css">
</head>
<body>
    <div class="container-site">
        <div class="item-flex-grow son-layout">
            <section class="top-things-to-do-section hotel">
                <div class="sliders-container">
                    <div class="container-xl">
                        <div class="container-title">
                            <h1 class="title">Hoteles <span> más</span> buscados</h1>
                        </div>
                        <div class="card-container col-xl-3 col-lg-4 col-sm-6 col-12">
                            <div class="card-Mobile-wh card" style="width: 19rem; cursor: pointer;">
                                <span variant="success" class="icono icon-promotion">
                                    <span class="porcen">%</span>
                                    <svg stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 640 512" height="1em"
                                        width="1em" xmlns="http://www.w3.org/2000/svg">
                                        <path
                                            d="M497.941 225.941L286.059 14.059A48 48 0 0 0 252.118 0H48C21.49 0 0 21.49 0 48v204.118a48 48 0 0 0 14.059 33.941l211.882 211.882c18.744 18.745 49.136 18.746 67.882 0l204.118-204.118c18.745-18.745 18.745-49.137 0-67.882zM112 160c-26.51 0-48-21.49-48-48s21.49-48 48-48 48 21.49 48 48-21.49 48-48 48zm513.941 133.823L421.823 497.941c-18.745 18.745-49.137 18.745-67.882 0l-.36-.36L527.64 323.522c16.999-16.999 26.36-39.6 26.36-63.64s-9.362-46.641-26.36-63.64L331.397 0h48.721a48 48 0 0 1 33.941 14.059l211.882 211.882c18.745 18.745 18.745 49.137 0 67.882z">
                                        </path>
                                    </svg>
                                </span>
                                <div><a class="url-card-services"
                                        href="/es-mx/hotel/crown-paradise-club-cancun-all-inclusive/5264?checkin=2024-07-29&amp;checkout=2024-08-01&amp;paxes=2-0&amp;sn=Crown+Paradise+Club+Cancun+All+Inclusive&amp;destinationkeyword=0&amp;destination=&amp;s=h"></a>
                                    <div class="card-container-image right undefined">
                                        <label class="container-label"><span class="icon"> <svg stroke="currentColor" fill="currentColor"
                                                    stroke-width="0" viewBox="0 0 1024 1024" height="1em" width="1em"
                                                    xmlns="http://www.w3.org/2000/svg">
                                                    <path
                                                        d="M938 458.8l-29.6-312.6c-1.5-16.2-14.4-29-30.6-30.6L565.2 86h-.4c-3.2 0-5.7 1-7.6 2.9L88.9 557.2a9.96 9.96 0 0 0 0 14.1l363.8 363.8c1.9 1.9 4.4 2.9 7.1 2.9s5.2-1 7.1-2.9l468.3-468.3c2-2.1 3-5 2.8-8zM699 387c-35.3 0-64-28.7-64-64s28.7-64 64-64 64 28.7 64 64-28.7 64-64 64z">
                                                    </path>
                                                </svg></span><span class="text"> 6%
                                                Descuento</span></label>
                                        <div class="container-caroulsel card-content-img">
                                            <div class="container-img" style="position: relative;">
                                                <!-- <div width="100%" height="100%" class="card-img loading "
                                                    style="display: flex; align-items: center; justify-content: center; position: absolute; inset: 0px;">
                                                    <div class="spinner-border loadings" role="status"><span class="visually-hidden"></span>
                                                    </div>
                                                </div>-->
                                                <img alt="Crown Paradise Club Cancun All Inclusive - 2" 
                                                    src="https://photos.hotelbeds.com/giata/bigger/00/005403/005403a_hb_a_033.JPG"
                                                    class="card-img" width="100%" height="100%">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card-body">
                                        <div class="card-content">
                                            <div class="box-title">
                                                <div class="box-title-content">
                                                    <h5 class="box-title-content-title">
                                                        <a
                                                            href="/es-mx/hotel/crown-paradise-club-cancun-all-inclusive/5264?checkin=2024-07-29&amp;checkout=2024-08-01&amp;paxes=2-0&amp;sn=Crown+Paradise+Club+Cancun+All+Inclusive&amp;destinationkeyword=0&amp;destination=&amp;s=h">Crown
                                                            Paradise Club Cancun All
                                                            Inclusive</a>
                                                    </h5>
                                                </div>
                                                <div class="container-flex align-items-baseline box-service-descriptions"
                                                    style="flex-direction: initial;">
                                                    <div class="container-stars">
                                                        <div class="box-star"><svg stroke="currentColor"
                                                                fill="currentColor" stroke-width="0" viewBox="0 0 24 24" height="1em"
                                                                width="1em" xmlns="http://www.w3.org/2000/svg">
                                                                <path
                                                                    d="M12.0008 17L6.12295 20.5902L7.72105 13.8906L2.49023 9.40983L9.35577 8.85942L12.0008 2.5L14.6458 8.85942L21.5114 9.40983L16.2806 13.8906L17.8787 20.5902L12.0008 17Z">
                                                                </path>
                                                            </svg></div>
                                                        <div class="box-star"><svg stroke="currentColor"
                                                                fill="currentColor" stroke-width="0" viewBox="0 0 24 24" height="1em"
                                                                width="1em" xmlns="http://www.w3.org/2000/svg">
                                                                <path
                                                                    d="M12.0008 17L6.12295 20.5902L7.72105 13.8906L2.49023 9.40983L9.35577 8.85942L12.0008 2.5L14.6458 8.85942L21.5114 9.40983L16.2806 13.8906L17.8787 20.5902L12.0008 17Z">
                                                                </path>
                                                            </svg></div>
                                                        <div class="box-star"><svg stroke="currentColor"
                                                                fill="currentColor" stroke-width="0" viewBox="0 0 24 24" height="1em"
                                                                width="1em" xmlns="http://www.w3.org/2000/svg">
                                                                <path
                                                                    d="M12.0008 17L6.12295 20.5902L7.72105 13.8906L2.49023 9.40983L9.35577 8.85942L12.0008 2.5L14.6458 8.85942L21.5114 9.40983L16.2806 13.8906L17.8787 20.5902L12.0008 17Z">
                                                                </path>
                                                            </svg></div>
                                                        <div class="box-star"><svg stroke="currentColor"
                                                                fill="currentColor" stroke-width="0" viewBox="0 0 24 24" height="1em"
                                                                width="1em" xmlns="http://www.w3.org/2000/svg">
                                                                <path
                                                                    d="M12.0008 17L6.12295 20.5902L7.72105 13.8906L2.49023 9.40983L9.35577 8.85942L12.0008 2.5L14.6458 8.85942L21.5114 9.40983L16.2806 13.8906L17.8787 20.5902L12.0008 17Z">
                                                                </path>
                                                            </svg></div>
                                                        <div class="box-star"><svg stroke="currentColor"
                                                                fill="currentColor" stroke-width="0" viewBox="0 0 24 24" height="1em"
                                                                width="1em" xmlns="http://www.w3.org/2000/svg">
                                                                <path
                                                                    d="M12.0008 17L6.12295 20.5902L7.72105 13.8906L2.49023 9.40983L9.35577 8.85942L12.0008 2.5L14.6458 8.85942L21.5114 9.40983L16.2806 13.8906L17.8787 20.5902L12.0008 17Z">
                                                                </path>
                                                            </svg></div>
                                                    </div>
                                                    <div class="container-flex container-flex-address ms-1">
                                                        <p class="container-flex-text container-address">
                                                            Cancun</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="container-flex">
                                                <div class="container-mealplan"><span class="mb-2"><i class="me-1"><svg stroke="currentColor"
                                                                fill="currentColor" stroke-width="0" viewBox="0 0 512 512" height="1em"
                                                                width="1em" xmlns="http://www.w3.org/2000/svg">
                                                                <path
                                                                    d="M502.05 57.6C523.3 36.34 508.25 0 478.2 0H33.8C3.75 0-11.3 36.34 9.95 57.6L224 271.64V464h-56c-22.09 0-40 17.91-40 40 0 4.42 3.58 8 8 8h240c4.42 0 8-3.58 8-8 0-22.09-17.91-40-40-40h-56V271.64L502.05 57.6z">
                                                                </path>
                                                            </svg></i>Todo
                                                        Incluido</span>
                                                    <div style="display: grid;"><span class="container-duration"
                                                            style="display: flex; vertical-align: middle;"></span>
                                                        <p class="box-item-text bold" style="margin-top: 5px;">por
                                                            noche</p>
                                                    </div>
                                                </div>
                                                <div class="box-price">
                                                    <div class="rate-without-discount" style="text-decoration: line-through; height: 20px;">
                                                        $5,889 MXN</div>
                                                    <div class="box-item-price">$5,554
                                                        MXN
                                                    </div>
                                                    <p class="box-item-text">Total
                                                        $16,661
                                                        MXN</p>
                                                    <p class="box-item-text">Impuestos
                                                        incluídos</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>




                        <div class="col-12">
                            <div class="card-sv-large mt-3  card">
                                <div class="content-box">
                                    <div class="card-container-image left undefined">
                                        <div class="container-caroulsel card-content-img" qui="">
                                            <div class="container-img" qui="img carousel-thumbnail " style="position: relative;"><img
                                                    alt="Bahia Principe Grand Coba All Inclusive - 5"
                                                    src="https://photos.hotelbeds.com/giata/bigger/05/057234/057234a_hb_l_001.jpg"
                                                    class="card-img loading " qui="img carousel-thumbnail " width="100%" height="100%"
                                                    style="opacity: 1;"></div>
                                        </div>
                                    </div>
                                    <div class="card-sv-content-info">
                                        <div class="card-sv-content-info-start">
                                            <div class="card-content">
                                                <div class="box-title">
                                                    <div class="box-title-content">
                                                        <h5 class="box-title-content-title"><a
                                                                href="/es-mx/hotel/bahia-principe-grand-coba-all-inclusive/7408?checkin=2024-07-23&amp;checkout=2024-07-25&amp;paxes=2-0&amp;sn=Bahia+Principe+Grand+Coba+All+Inclusive&amp;destinationkeyword=142&amp;destination=Riviera+Maya+%2F+Playa+del+Carmen&amp;s=h">Bahia
                                                                Principe Grand Coba All Inclusive</a></h5>
                                                    </div>
                                                    <div class="container-flex align-items-baseline box-service-descriptions"
                                                        style="flex-direction: initial;">
                                                        <div class="container-stars">
                                                            <div class="box-star"><svg stroke="currentColor"
                                                                    fill="currentColor" stroke-width="0" viewBox="0 0 24 24" height="1em"
                                                                    width="1em" xmlns="http://www.w3.org/2000/svg">
                                                                    <path
                                                                        d="M12.0008 17L6.12295 20.5902L7.72105 13.8906L2.49023 9.40983L9.35577 8.85942L12.0008 2.5L14.6458 8.85942L21.5114 9.40983L16.2806 13.8906L17.8787 20.5902L12.0008 17Z">
                                                                    </path>
                                                                </svg></div>
                                                            <div class="box-star"><svg stroke="currentColor"
                                                                    fill="currentColor" stroke-width="0" viewBox="0 0 24 24" height="1em"
                                                                    width="1em" xmlns="http://www.w3.org/2000/svg">
                                                                    <path
                                                                        d="M12.0008 17L6.12295 20.5902L7.72105 13.8906L2.49023 9.40983L9.35577 8.85942L12.0008 2.5L14.6458 8.85942L21.5114 9.40983L16.2806 13.8906L17.8787 20.5902L12.0008 17Z">
                                                                    </path>
                                                                </svg></div>
                                                            <div class="box-star"><svg stroke="currentColor"
                                                                    fill="currentColor" stroke-width="0" viewBox="0 0 24 24" height="1em"
                                                                    width="1em" xmlns="http://www.w3.org/2000/svg">
                                                                    <path
                                                                        d="M12.0008 17L6.12295 20.5902L7.72105 13.8906L2.49023 9.40983L9.35577 8.85942L12.0008 2.5L14.6458 8.85942L21.5114 9.40983L16.2806 13.8906L17.8787 20.5902L12.0008 17Z">
                                                                    </path>
                                                                </svg></div>
                                                            <div class="box-star"><svg stroke="currentColor"
                                                                    fill="currentColor" stroke-width="0" viewBox="0 0 24 24" height="1em"
                                                                    width="1em" xmlns="http://www.w3.org/2000/svg">
                                                                    <path
                                                                        d="M12.0008 17L6.12295 20.5902L7.72105 13.8906L2.49023 9.40983L9.35577 8.85942L12.0008 2.5L14.6458 8.85942L21.5114 9.40983L16.2806 13.8906L17.8787 20.5902L12.0008 17Z">
                                                                    </path>
                                                                </svg></div>
                                                            <div class="box-star"><svg stroke="currentColor"
                                                                    fill="currentColor" stroke-width="0" viewBox="0 0 24 24" height="1em"
                                                                    width="1em" xmlns="http://www.w3.org/2000/svg">
                                                                    <path
                                                                        d="M12.0008 17L6.12295 20.5902L7.72105 13.8906L2.49023 9.40983L9.35577 8.85942L12.0008 2.5L14.6458 8.85942L21.5114 9.40983L16.2806 13.8906L17.8787 20.5902L12.0008 17Z">
                                                                    </path>
                                                                </svg></div>
                                                        </div>
                                                        <div class="container-flex container-flex-address ms-1">
                                                            <p class="container-flex-text container-address">Benito Juarez
                                                            </p>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="container-flex"><span class="text-color"><i class="me-1 text-color"><svg
                                                                stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 512 512"
                                                                height="1em" width="1em" xmlns="http://www.w3.org/2000/svg">
                                                                <path
                                                                    d="M502.05 57.6C523.3 36.34 508.25 0 478.2 0H33.8C3.75 0-11.3 36.34 9.95 57.6L224 271.64V464h-56c-22.09 0-40 17.91-40 40 0 4.42 3.58 8 8 8h240c4.42 0 8-3.58 8-8 0-22.09-17.91-40-40-40h-56V271.64L502.05 57.6z">
                                                                </path>
                                                            </svg></i><b>Todo Incluido</b></span>
                                                    <div><small class="mb-2 text-muted">Puedes cancelar hasta el 16/07/2024</small></div>
                                                    <div class="container-mealplan mt-1 mb-2"></div>
                                                </div>
                                            </div>
                                            <div class="card-content-description text-color">Este exclusivo hotel de playa está enclavado en
                                                medio de un paisaje tropical y al lado de una playa de arena inmaculada de 1 km de extensión de
                                                la Riviera Maya, que tiene una barrera de coral protegid...</div>
                                        </div>
                                        <div class="card-sv-content-info-end"><small class="text-muted"><b>por noche</b></small>
                                            <div class="rate">$3,690 MXN</div><small class="text-muted">Total $7,380 MXN </small><small
                                                class="text-muted"> Impuestos incluídos</small><a class="text-decoration-none"
                                                href="/es-mx/hotel/bahia-principe-grand-coba-all-inclusive/7408?checkin=2024-07-23&amp;checkout=2024-07-25&amp;paxes=2-0&amp;sn=Bahia+Principe+Grand+Coba+All+Inclusive&amp;destinationkeyword=142&amp;destination=Riviera+Maya+%2F+Playa+del+Carmen&amp;s=h"><button
                                                    type="button" class="card-btn-reservation btn btn-outline-primary">Ver
                                                    habitaciones</button></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
    
</body>
</html>