<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../style/bootstrap.css">
    <link rel="stylesheet" href="../style/common.css">
    <link rel="stylesheet" href="../style/img-gallery-detail-hotel.css">
</head>
<body>

    <!-- Loader card Home -->
    <div class="card-container-home">
        <div class="skeleton-card card">
            <div class="placeholder-glow card-title h5"><span class="skeleton-card-img placeholder"></span></div>
            <div class="card-body">
                <div class="placeholder-glow card-title h5"><span class="col-6 placeholder"></span></div>
                <p class="placeholder-glow card-text"><span class="col-6 placeholder"></span> <span
                        class="col-5 placeholder"></span> <span class="col-6 placeholder"></span> <span
                        class="col-5 placeholder"></span> <span class="col-5 placeholder"></span> <span
                        class="col-4 placeholder"></span> <span class="col-6 placeholder"></span></p>
            </div>
        </div>
    </div>


    <!-- loader cards list -->
    <div>
        <div class="d-flex flex-column w-100">
            <div class="placeholder-glow card-title h5"><span class="col-6 placeholder"></span></div>
            <hr class="divider-horizontal">
        </div>
        <div class="pt-4 row">
            <div class="col-md-8">
                <div class="placeholder-glow card-title h5"><span class="col-6 placeholder"></span></div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="d-flex"><span class="w-100 placeholder-glow"><span class="col-6 placeholder"></span>
                                <span class="col-5 placeholder"></span></span></div>
                        <div class="d-flex"><span class="w-100 placeholder-glow"><span class="col-6 placeholder"></span>
                                <span class="col-5 placeholder"></span></span></div>
                    </div>
                    <div class="col-md-6">
                        <div class="d-flex"><span class="w-100 placeholder-glow"><span class="col-6 placeholder"></span>
                                <span class="col-5 placeholder"></span></span></div>
                        <div class="d-flex"><span class="w-100 placeholder-glow"><span class="col-6 placeholder"></span>
                                <span class="col-5 placeholder"></span></span></div>
                    </div>
                </div>
            </div>
            <div class="text-start text-md-end col-md-4">
                <div class="box-rate-price">
                    <div class="box-service-rate-tour bg-rate"><span class="w-100 placeholder-glow"><span
                                class="col-6 placeholder"></span> <span class="col-5 placeholder"></span><span
                                class="col-6 placeholder"></span> <span class="col-5 placeholder"></span><span
                                class="col-6 placeholder"></span> <span class="col-5 placeholder"></span><button
                                type="button" disabled="" tabindex="-1"
                                class="col-6 placeholder btn btn-primary"></button></span></div>
                </div>
            </div>
        </div>
    </div>


    <!-- Loader galeria -->
    <div class="gallery-container skeleton collage">
        <div class="container-first">
            <div class="w-100 placeholder-glow card-title h5"><span class="w-100 gallery-box-img placeholder"></span></div>
        </div>
        <div class="container-duo">
            <div class="container-top gallery-box w-100">
                <div class="w-100 placeholder-glow card-title h5"><span class="w-100 gallery-box-img placeholder"></span>
                </div>
            </div>
            <div class="container-botom gallery-box w-100">
                <div class="w-100 placeholder-glow card-title h5"><span class="w-100 gallery-box-img placeholder"></span>
                </div>
            </div>
        </div>
        <div class="container-duo">
            <div class="container-top gallery-box w-100">
                <div class="w-100 placeholder-glow card-title h5"><span class="w-100 gallery-box-img placeholder"></span>
                </div>
            </div>
            <div class="container-botom gallery-box w-100">
                <div class="w-100 placeholder-glow card-title h5"><span class="w-100 gallery-box-img placeholder"></span>
                </div>
            </div>
        </div>
    </div>


    <!-- Loader checkout -->
    <div class="card-body mt-5">
        <div class="placeholder-glow card-title h5"><span class="col-6 placeholder"></span></div>
        <div class="placeholder-glow card-title h5"><span class="height-input-payment col-12 placeholder"></span></div>
        <button type="button" disabled="" tabindex="-1" class="col-2 placeholder btn btn-primary"></button>
    </div>
</body>
</html>