<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../style/bootstrap.css">
    <link rel="stylesheet" href="../style/list-filters.css">
    <link rel="stylesheet" href="../style/common.css">
</head>
<body>
    <div class="list-filters row">
        <div class="container-count-results col"><span class="text-nowrap total-hotel">272 resultados</span></div>
        <div class="container-views col d-none d-md-block">
            <div role="group" class="button-toggle-triple  btn-group"><input class="btn-check" name="radio" type="radio"
                    autocomplete="off" id="radio-0" value="block" checked=""><label tabindex="0" for="radio-0"
                    class="toggle-sx Bloques btn btn-primary">
                    <div class="container-icons-toggle"><span class="me-1.carousel-item icon-toggle Bloques"><svg
                                stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 512 512"
                                height="1em" width="1em" xmlns="http://www.w3.org/2000/svg">
                                <path d="M240 240H32V32h208zm240 0H272V32h208zM240 480H32V272h208zm240 0H272V272h208z">
                                </path>
                            </svg></span><span class="text-toggle">Bloques</span></div>
                </label><input class="btn-check" name="radio" type="radio" autocomplete="off" id="radio-1"
                    value="large"><label tabindex="0" for="radio-1" class="toggle-sx Lista btn btn-primary">
                    <div class="container-icons-toggle"><span class="me-1.carousel-item icon-toggle Lista"><svg
                                stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 512 512"
                                height="1em" width="1em" xmlns="http://www.w3.org/2000/svg">
                                <path
                                    d="M48 48a48 48 0 1 0 48 48 48 48 0 0 0-48-48zm0 160a48 48 0 1 0 48 48 48 48 0 0 0-48-48zm0 160a48 48 0 1 0 48 48 48 48 0 0 0-48-48zm448 16H176a16 16 0 0 0-16 16v32a16 16 0 0 0 16 16h320a16 16 0 0 0 16-16v-32a16 16 0 0 0-16-16zm0-320H176a16 16 0 0 0-16 16v32a16 16 0 0 0 16 16h320a16 16 0 0 0 16-16V80a16 16 0 0 0-16-16zm0 160H176a16 16 0 0 0-16 16v32a16 16 0 0 0 16 16h320a16 16 0 0 0 16-16v-32a16 16 0 0 0-16-16z">
                                </path>
                            </svg></span><span class="text-toggle">Lista</span></div>
                </label><input class="btn-check" name="radio" type="radio" autocomplete="off" id="radio-2"
                    value="map"><label tabindex="0" for="radio-2" class="toggle-sx Mapa btn btn-primary">
                    <div class="container-icons-toggle"><span class="me-1.carousel-item icon-toggle Mapa"><svg
                                stroke="currentColor" fill="currentColor" stroke-width="0" version="1.1" viewBox="0 0 16 16"
                                height="1em" width="1em" xmlns="http://www.w3.org/2000/svg">
                                <path
                                    d="M8 0c-2.761 0-5 2.239-5 5 0 5 5 11 5 11s5-6 5-11c0-2.761-2.239-5-5-5zM8 8.063c-1.691 0-3.063-1.371-3.063-3.063s1.371-3.063 3.063-3.063 3.063 1.371 3.063 3.063-1.371 3.063-3.063 3.063zM6.063 5c0-1.070 0.867-1.938 1.938-1.938s1.938 0.867 1.938 1.938c0 1.070-0.867 1.938-1.938 1.938s-1.938-0.867-1.938-1.938z">
                                </path>
                            </svg></span><span class="text-toggle">Mapa</span></div>
                </label></div>
        </div>
        <div class="container-filter-orden col">
            <div class="dropdown-list dropdown"><button type="button" aria-expanded="false"
                    class="dropdown-toggle btn btn-primary"><i><svg stroke="currentColor" fill="none" stroke-width="2"
                            viewBox="0 0 24 24" stroke-linecap="round" stroke-linejoin="round" height="1em" width="1em"
                            xmlns="http://www.w3.org/2000/svg">
                            <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                            <path d="M17 3l0 18"></path>
                            <path d="M10 18l-3 3l-3 -3"></path>
                            <path d="M7 21l0 -18"></path>
                            <path d="M20 6l-3 -3l-3 3"></path>
                        </svg></i><span class="title"> Recomendado</span></button></div>
                        
        </div>
    </div>
</body>
</html>