<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../style/bootstrap.css">
    <link rel="stylesheet" href="../style/gallery-hotels.css">
    <link rel="stylesheet" href="../style/common.css">
</head>

<body>
    <div role="dialog" aria-modal="true" class="fade wrapper-collage modal show" tabindex="-1"
        style="display: block; padding-right: 8px;">
        <div class="modal-dialog modal-fullscreen">
            <div class="modal-content">
                <div class="modal-header">
                    <div class="modal-title h4">Royal Solaris Los Cabos All Inclusive</div><button type="button"
                        class="btn-close" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="container-gallery">
                        <div class="gallery-container">
                            <div class="gallery-grid-container" items="5">
                                <div class="gallery-filters" style="justify-content: left;">
                                    <div class="filters-content">
                                        <div class="p-chip p-component p-chip">
                                            <span class="p-chip-text">TODOS</span>
                                        </div>
                                        <div class="p-chip p-component p-chip">
                                            <span class="p-chip-text">Exterior</span>
                                        </div>
                                        <div class="p-chip p-component p-chip">
                                            <span class="p-chip-text">Lobby</span>
                                            </div>
                                        <div class="p-chip p-component p-chip active">
                                            <span class="p-chip-text">Piscina</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="gallery-content gallery-grid">
                                    <div class="p-galleria p-component p-galleria-thumbnails-bottom d-none d-md-block d-lg-block">
                                        <div class="p-galleria-content">
                                            <div class="p-galleria-item-wrapper">
                                                <div class="p-galleria-item-container">
                                                    <div class="p-galleria-item"><img
                                                            src="https://photos.hotelbeds.com/giata/bigger/01/018924/018924a_hb_p_001.jpg"
                                                            alt="Royal Solaris Los Cabos All Inclusive - 6"
                                                            orientation="landscape"></div>
                                                </div>
                                            </div>
                                            <div class="p-galleria-thumbnail-wrapper">
                                                <div class="p-galleria-thumbnail-container"><button
                                                        class="p-galleria-thumbnail-prev p-link p-disabled"
                                                        disabled=""><span
                                                            class="p-galleria-thumbnail-prev-icon pi pi-chevron-left"></span></button>
                                                    <div class="p-galleria-thumbnail-items-container">
                                                        <div class="p-galleria-thumbnail-items "
                                                            pr_id_3="" style="transform: translate3d(0%, 0px, 0px);">
                                                            <div
                                                                class="p-galleria-thumbnail-item p-galleria-thumbnail-item-current p-galleria-thumbnail-item-active p-galleria-thumbnail-item-start">
                                                                <div class="p-galleria-thumbnail-item-content"
                                                                    tabindex="0"><img
                                                                        src="https://photos.hotelbeds.com/giata/bigger/01/018924/018924a_hb_p_001.jpg"
                                                                        alt="Royal Solaris Los Cabos All Inclusive - 6"
                                                                        style="height: 120px;" orientation="landscape">
                                                                </div>
                                                            </div>
                                                            <div
                                                                class="p-galleria-thumbnail-item p-galleria-thumbnail-item-active">
                                                                <div class="p-galleria-thumbnail-item-content"
                                                                    tabindex="0"><img
                                                                        src="https://photos.hotelbeds.com/giata/bigger/01/018924/018924a_hb_p_002.jpg"
                                                                        alt="Royal Solaris Los Cabos All Inclusive - 7"
                                                                        orientation="landscape" style="height: 120px;">
                                                                </div>
                                                            </div>
                                                            <div
                                                                class="p-galleria-thumbnail-item p-galleria-thumbnail-item-active">
                                                                <div class="p-galleria-thumbnail-item-content"
                                                                    tabindex="0"><img
                                                                        src="https://photos.hotelbeds.com/giata/bigger/01/018924/018924a_hb_p_003.jpg"
                                                                        alt="Royal Solaris Los Cabos All Inclusive - 8"
                                                                        orientation="landscape" style="height: 120px;">
                                                                </div>
                                                            </div>
                                                            <div
                                                                class="p-galleria-thumbnail-item p-galleria-thumbnail-item-active">
                                                                <div class="p-galleria-thumbnail-item-content"
                                                                    tabindex="0"><img
                                                                        src="https://photos.hotelbeds.com/giata/bigger/01/018924/018924a_hb_p_004.jpg"
                                                                        alt="Royal Solaris Los Cabos All Inclusive - 9"
                                                                        orientation="landscape" style="height: 120px;">
                                                                </div>
                                                            </div>
                                                            <div
                                                                class="p-galleria-thumbnail-item p-galleria-thumbnail-item-active">
                                                                <div class="p-galleria-thumbnail-item-content"
                                                                    tabindex="0"><img
                                                                        src="https://photos.hotelbeds.com/giata/bigger/01/018924/018924a_hb_p_005.jpg"
                                                                        alt="Royal Solaris Los Cabos All Inclusive - 10"
                                                                        orientation="landscape" style="height: 120px;">
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div><button class="p-galleria-thumbnail-next p-link p-disabled"
                                                        disabled=""><span
                                                            class="p-galleria-thumbnail-next-icon pi pi-chevron-right"></span></button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
















                                    <div class="container-img-mobile d-grid  d-md-none d-lg-none">
                                        <div class="image-container"><img
                                                src="https://photos.hotelbeds.com/giata/bigger/16/162746/162746a_hb_a_003.jpg"
                                                alt="Bahia Principe Luxury Sian Ka'an - 1" style="height: 120px;" orientation="landscape"></div>
                                        <div class="image-container" ><img
                                                src="https://photos.hotelbeds.com/giata/bigger/16/162746/162746a_hb_a_004.jpg"
                                                alt="Bahia Principe Luxury Sian Ka'an - 2" style="height: 120px;" orientation="landscape"></div>
                                        <div class="image-container" ><img
                                                src="https://photos.hotelbeds.com/giata/bigger/16/162746/162746a_hb_a_005.jpg"
                                                alt="Bahia Principe Luxury Sian Ka'an - 3" style="height: 120px;" orientation="landscape"></div>
                                        <div class="image-container" ><img
                                                src="https://photos.hotelbeds.com/giata/bigger/16/162746/162746a_hb_a_006.jpg"
                                                alt="Bahia Principe Luxury Sian Ka'an - 4" style="height: 120px;" orientation="landscape"></div>
                                        <div class="image-container" ><img
                                                src="https://photos.hotelbeds.com/giata/bigger/16/162746/162746a_hb_l_001.jpg"
                                                alt="Bahia Principe Luxury Sian Ka'an - 5" style="height: 120px;" orientation="landscape"></div>
                                        <div class="image-container" ><img
                                                src="https://photos.hotelbeds.com/giata/bigger/16/162746/162746a_hb_l_002.jpg"
                                                alt="Bahia Principe Luxury Sian Ka'an - 6" style="height: 120px;" orientation="landscape"></div>
                                        <div class="image-container" ><img
                                                src="https://photos.hotelbeds.com/giata/bigger/16/162746/162746a_hb_l_004.jpg"
                                                alt="Bahia Principe Luxury Sian Ka'an - 7" style="height: 120px;" orientation="landscape"></div>
                                        <div class="image-container" ><img
                                                src="https://photos.hotelbeds.com/giata/bigger/16/162746/162746a_hb_l_005.jpg"
                                                alt="Bahia Principe Luxury Sian Ka'an - 8" style="height: 120px;" orientation="landscape"></div>
                                        <div class="image-container" ><img
                                                src="https://photos.hotelbeds.com/giata/bigger/16/162746/162746a_hb_p_001.jpg"
                                                alt="Bahia Principe Luxury Sian Ka'an - 9" style="height: 120px;" orientation="landscape"></div>
                                        <div class="image-container" ><img
                                                src="https://photos.hotelbeds.com/giata/bigger/16/162746/162746a_hb_p_002.jpg"
                                                alt="Bahia Principe Luxury Sian Ka'an - 10" style="height: 120px;" orientation="landscape"></div>
                                        <div class="image-container" ><img
                                                src="https://photos.hotelbeds.com/giata/bigger/16/162746/162746a_hb_p_003.jpg"
                                                alt="Bahia Principe Luxury Sian Ka'an - 11" style="height: 120px;" orientation="landscape"></div>
                                        <div class="image-container" ><img
                                                src="https://photos.hotelbeds.com/giata/bigger/16/162746/162746a_hb_p_004.jpg"
                                                alt="Bahia Principe Luxury Sian Ka'an - 12" style="height: 120px;"></div>
                                        <div class="image-container" ><img
                                                src="https://photos.hotelbeds.com/giata/bigger/16/162746/162746a_hb_p_005.jpg"
                                                alt="Bahia Principe Luxury Sian Ka'an - 13" style="height: 120px;"></div>
                                        <div class="image-container" ><img
                                                src="https://photos.hotelbeds.com/giata/bigger/16/162746/162746a_hb_p_006.jpg"
                                                alt="Bahia Principe Luxury Sian Ka'an - 14" style="height: 120px;"></div>
                                        <div class="image-container" ><img
                                                src="https://photos.hotelbeds.com/giata/bigger/16/162746/162746a_hb_p_007.jpg"
                                                alt="Bahia Principe Luxury Sian Ka'an - 15" style="height: 120px;"></div>
                                        <div class="image-container" ><img
                                                src="https://photos.hotelbeds.com/giata/bigger/16/162746/162746a_hb_p_008.jpg"
                                                alt="Bahia Principe Luxury Sian Ka'an - 16" style="height: 120px;"></div>
                                        <div class="image-container" ><img
                                                src="https://photos.hotelbeds.com/giata/bigger/16/162746/162746a_hb_p_010.jpg"
                                                alt="Bahia Principe Luxury Sian Ka'an - 17" style="height: 120px;"></div>
                                        <div class="image-container" ><img
                                                src="https://photos.hotelbeds.com/giata/bigger/16/162746/162746a_hb_r_001.jpg"
                                                alt="Bahia Principe Luxury Sian Ka'an - 18" style="height: 120px;" orientation="landscape"></div>
                                        <div class="image-container" ><img
                                                src="https://photos.hotelbeds.com/giata/bigger/16/162746/162746a_hb_r_003.jpg"
                                                alt="Bahia Principe Luxury Sian Ka'an - 19" style="height: 120px;" orientation="landscape"></div>
                                        <div class="image-container" ><img
                                                src="https://photos.hotelbeds.com/giata/bigger/16/162746/162746a_hb_r_004.jpg"
                                                alt="Bahia Principe Luxury Sian Ka'an - 20" style="height: 120px;" orientation="landscape"></div>
                                        <div class="image-container" ><img
                                                src="https://photos.hotelbeds.com/giata/bigger/16/162746/162746a_hb_r_005.jpg"
                                                alt="Bahia Principe Luxury Sian Ka'an - 21" style="height: 120px;" orientation="landscape"></div>
                                        <div class="image-container" ><img
                                                src="https://photos.hotelbeds.com/giata/bigger/16/162746/162746a_hb_r_006.jpg"
                                                alt="Bahia Principe Luxury Sian Ka'an - 22" style="height: 120px;"></div>
                                    </div>






                                </div>
                                <div class="gallery-footer d-none d-md-block d-lg-block">
                                    <div class="footer-counter">1 / 5</div>
                                </div>

                                <div class="gallery-footer d-block d-md-none d-lg-none">
                                    <div class="gallery-footer-wrapper">
                                        <div class="footer-counter" style="display: flex; flex-direction: row; justify-content: flex-end;">1 / 125</div>
                                        <div class="center footer-buttons"
                                            style="display: flex; flex-direction: row; justify-content: center; background-color: rgba(255, 255, 255, 0.6);">
                                            <button class="active"
                                                style="display: flex; flex-direction: column; text-align: center; color: rgb(44, 57, 94);"><i
                                                    class="pi pi-th-large gallery-grid-icon"></i> Mosaico</button><button class=""
                                                style="display: flex; flex-direction: column; text-align: center; color: rgb(44, 57, 94);"><i
                                                    class="pi pi-image gallery-grid-icon"></i> Galeria</button></div>
                                    </div>
                                    <div class="gallery-footer-wrapper-landscape">
                                        <div class="center footer-buttons"
                                            style="display: flex; flex-direction: row; justify-content: center; background-color: rgba(255, 255, 255, 0.6);">
                                            <button class="active"
                                                style="display: flex; flex-direction: column; text-align: center; color: rgb(44, 57, 94);"><i
                                                    class="pi pi-th-large gallery-grid-icon"></i> Mosaico</button><button class=""
                                                style="display: flex; flex-direction: column; text-align: center; color: rgb(44, 57, 94);"><i
                                                    class="pi pi-image gallery-grid-icon"></i> Galeria</button></div>
                                        <div class="footer-counter right" style="display: flex; flex-direction: row; justify-content: flex-end;">1 / 125
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>