<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../style/bootstrap.css">
    <link rel="stylesheet" href="../style/gallery-hotels.css">
    <link rel="stylesheet" href="../style/common.css">
</head>

<body>
    <div role="dialog" aria-modal="true" class="fade wrapper-collage modal show" tabindex="-1"
        style="display: block; padding-right: 8px;">
        <div class="modal-dialog modal-fullscreen">
            <div class="modal-content">
                <div class="modal-header">
                    <div class="modal-title h4">Royal Solaris Los Cabos All Inclusive</div><button type="button"
                        class="btn-close" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="container-gallery">
                        <div class="gallery-container">
                            <div class="gallery-grid-container" items="5"
                                style="background: white; color: rgb(44, 57, 94); font-size: 14px;">
                                <div class="gallery-filters" style="justify-content: left;">
                                    <div class="filters-content">
                                        <div class="p-chip p-component p-chip "
                                            style="background: white; color: rgb(44, 57, 94); font-size: 14px;"><span
                                                class="p-chip-text">TODOS</span></div>
                                        <div class="p-chip p-component p-chip "
                                            style="background: white; color: rgb(44, 57, 94); font-size: 14px;"><span
                                                class="p-chip-text">Exterior</span></div>
                                        <div class="p-chip p-component p-chip "
                                            style="background: white; color: rgb(44, 57, 94); font-size: 14px;"><span
                                                class="p-chip-text">Lobby</span></div>
                                        <div class="p-chip p-component p-chip active"
                                            style="color: white; background-color: rgb(44, 57, 94); font-size: 14px;">
                                            <span class="p-chip-text">Piscina</span></div>
                                        <div class="p-chip p-component p-chip "
                                            style="background: white; color: rgb(44, 57, 94); font-size: 14px;"><span
                                                class="p-chip-text">Restaurante</span></div>
                                        <div class="p-chip p-component p-chip "
                                            style="background: white; color: rgb(44, 57, 94); font-size: 14px;"><span
                                                class="p-chip-text">Habitación</span></div>
                                        <div class="p-chip p-component p-chip "
                                            style="background: white; color: rgb(44, 57, 94); font-size: 14px;"><span
                                                class="p-chip-text">Playa</span></div>
                                        <div class="p-chip p-component p-chip "
                                            style="background: white; color: rgb(44, 57, 94); font-size: 14px;"><span
                                                class="p-chip-text">Bar / Salón</span></div>
                                        <div class="p-chip p-component p-chip "
                                            style="background: white; color: rgb(44, 57, 94); font-size: 14px;"><span
                                                class="p-chip-text">Centro de negocios</span></div>
                                        <div class="p-chip p-component p-chip "
                                            style="background: white; color: rgb(44, 57, 94); font-size: 14px;"><span
                                                class="p-chip-text">General</span></div>
                                    </div>
                                </div>
                                <div class="gallery-content gallery-view">
                                    <div class="p-galleria p-component p-galleria-thumbnails-bottom">
                                        <div class="p-galleria-content">
                                            <div class="p-galleria-item-wrapper">
                                                <div class="p-galleria-item-container">
                                                    <div class="p-galleria-item"><img
                                                            src="https://photos.hotelbeds.com/giata/bigger/01/018924/018924a_hb_p_001.jpg"
                                                            alt="Royal Solaris Los Cabos All Inclusive - 6"
                                                            orientation="landscape"></div>
                                                </div>
                                            </div>
                                            <div class="p-galleria-thumbnail-wrapper">
                                                <div class="p-galleria-thumbnail-container"><button
                                                        class="p-galleria-thumbnail-prev p-link p-disabled"
                                                        disabled=""><span
                                                            class="p-galleria-thumbnail-prev-icon pi pi-chevron-left"></span></button>
                                                    <div class="p-galleria-thumbnail-items-container">
                                                        <div class="p-galleria-thumbnail-items p-items-hidden"
                                                            pr_id_3="" style="transform: translate3d(0%, 0px, 0px);">
                                                            <div
                                                                class="p-galleria-thumbnail-item p-galleria-thumbnail-item-current p-galleria-thumbnail-item-active p-galleria-thumbnail-item-start">
                                                                <div class="p-galleria-thumbnail-item-content"
                                                                    tabindex="0"><img
                                                                        src="https://photos.hotelbeds.com/giata/bigger/01/018924/018924a_hb_p_001.jpg"
                                                                        alt="Royal Solaris Los Cabos All Inclusive - 6"
                                                                        style="height: 120px;" orientation="landscape">
                                                                </div>
                                                            </div>
                                                            <div
                                                                class="p-galleria-thumbnail-item p-galleria-thumbnail-item-active">
                                                                <div class="p-galleria-thumbnail-item-content"
                                                                    tabindex="0"><img
                                                                        src="https://photos.hotelbeds.com/giata/bigger/01/018924/018924a_hb_p_002.jpg"
                                                                        alt="Royal Solaris Los Cabos All Inclusive - 7"
                                                                        orientation="landscape" style="height: 120px;">
                                                                </div>
                                                            </div>
                                                            <div
                                                                class="p-galleria-thumbnail-item p-galleria-thumbnail-item-active">
                                                                <div class="p-galleria-thumbnail-item-content"
                                                                    tabindex="0"><img
                                                                        src="https://photos.hotelbeds.com/giata/bigger/01/018924/018924a_hb_p_003.jpg"
                                                                        alt="Royal Solaris Los Cabos All Inclusive - 8"
                                                                        orientation="landscape" style="height: 120px;">
                                                                </div>
                                                            </div>
                                                            <div
                                                                class="p-galleria-thumbnail-item p-galleria-thumbnail-item-active">
                                                                <div class="p-galleria-thumbnail-item-content"
                                                                    tabindex="0"><img
                                                                        src="https://photos.hotelbeds.com/giata/bigger/01/018924/018924a_hb_p_004.jpg"
                                                                        alt="Royal Solaris Los Cabos All Inclusive - 9"
                                                                        orientation="landscape" style="height: 120px;">
                                                                </div>
                                                            </div>
                                                            <div
                                                                class="p-galleria-thumbnail-item p-galleria-thumbnail-item-active">
                                                                <div class="p-galleria-thumbnail-item-content"
                                                                    tabindex="0"><img
                                                                        src="https://photos.hotelbeds.com/giata/bigger/01/018924/018924a_hb_p_005.jpg"
                                                                        alt="Royal Solaris Los Cabos All Inclusive - 10"
                                                                        orientation="landscape" style="height: 120px;">
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div><button class="p-galleria-thumbnail-next p-link p-disabled"
                                                        disabled=""><span
                                                            class="p-galleria-thumbnail-next-icon pi pi-chevron-right"></span></button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="gallery-footer">
                                    <div class="footer-counter">1 / 5</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>