<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../style/bootstrap.css">
    <link rel="stylesheet" href="../style/grid-gallery-section.css">
</head>
<body>

    <div class="container-site">
        <div class="item-flex-grow son-layout">
            <section class="grid-gallery-section">
                <div class="container-title">
                    <h1 class="title">Prepara tu próxima <span>aventura</span></h1>
                </div>
                <div class="container">
                    <div class="rowContaint row">

                        <!-- En caso de no requerir un tamaño diferente, no se le agrega ninguna clase -->
                        <a
                            href="/es-mx/hoteles?checkin=2024-07-06&amp;checkout=2024-07-08&amp;destination=Riviera+Maya&amp;destinationkeyword=142&amp;paxes=2-0&amp;s=h">
                            <div class="card-overlay">
                                <img class="image" loading="lazy"
                                    src="https://cdn.majoristravel.com/riviera-maya-9081a34f575b90bdae2e.jpg"
                                    alt="Riviera Maya">
                                <div class="card-overlay-middle">
                                    <div class="text">
                                        <h4 class="title">Riviera Maya</h4>
                                        <p> </p>
                                    </div>
                                </div>
                            </div>
                        </a>
                        <a
                            href="/es-mx/hoteles?checkin=2024-07-06&amp;checkout=2024-07-08&amp;destination=Riviera+Maya&amp;destinationkeyword=142&amp;paxes=2-0&amp;s=h">
                            <div class="card-overlay"><img class="image" loading="lazy"
                                    src="https://cdn.majoristravel.com/riviera-maya-9081a34f575b90bdae2e.jpg"
                                    alt="Riviera Maya">
                                <div class="card-overlay-middle">
                                    <div class="text">
                                        <h4 class="title">Riviera Maya</h4>
                                        <p> </p>
                                    </div>
                                </div>
                            </div>
                        </a>

                        <!-- para tener una card más horizontal, se requiere en la card la clase COL -->
                        <a class="col"
                            href="/es-mx/hoteles?checkin=2024-07-06&amp;checkout=2024-07-08&amp;destination=Riviera+Maya&amp;destinationkeyword=142&amp;paxes=2-0&amp;s=h">
                            <div class="card-overlay"><img class="image" loading="lazy"
                                    src="https://cdn.majoristravel.com/riviera-maya-9081a34f575b90bdae2e.jpg"
                                    alt="Riviera Maya">
                                <div class="card-overlay-middle">
                                    <div class="text">
                                        <h4 class="title">Riviera Maya</h4>
                                        <p> </p>
                                    </div>
                                </div>
                            </div>
                        </a>
<!-- para tener una card más alta, se requiere en la card la clase biggerImage -->
                            <a class="biggerImage"
                            href="/es-mx/hoteles?checkin=2024-07-06&amp;checkout=2024-07-08&amp;destination=Riviera+Maya&amp;destinationkeyword=142&amp;paxes=2-0&amp;s=h">
                            <div class="card-overlay"><img class="image" loading="lazy"
                                    src="https://cdn.majoristravel.com/riviera-maya-9081a34f575b90bdae2e.jpg"
                                    alt="Riviera Maya">
                                <div class="card-overlay-middle">
                                    <div class="text">
                                        <h4 class="title">Riviera Maya</h4>
                                        <p> </p>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </section>
        </div>
    </div>
</body>
</html>