<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../style/bootstrap.css">
    <link rel="stylesheet" href="../style/hotel-detail.css">
    <link rel="stylesheet" href="../style/common.css">
</head>
<body>
    <div class="container">
        <div class="pt-3 pb-3 container-xl">
            <div>
                <div class="box-detail-service-title-rate ">
                    <div class="d-flex flex-column">
                        <div class="box-title" style="justify-content: initial;">
                            <div>
                                <p class="title">All Ritmo Cancun Resort &amp; Water Park
                                </p>
                                <div class="box-title-content">
                                    <div class="container-stars">
                                        <div class="box-star"><svg stroke="currentColor"
                                                fill="currentColor" stroke-width="0" viewBox="0 0 24 24" height="1em"
                                                width="1em" xmlns="http://www.w3.org/2000/svg">
                                                <path
                                                    d="M12.0008 17L6.12295 20.5902L7.72105 13.8906L2.49023 9.40983L9.35577 8.85942L12.0008 2.5L14.6458 8.85942L21.5114 9.40983L16.2806 13.8906L17.8787 20.5902L12.0008 17Z">
                                                </path>
                                            </svg></div>
                                        <div class="box-star"><svg stroke="currentColor"
                                                fill="currentColor" stroke-width="0" viewBox="0 0 24 24" height="1em"
                                                width="1em" xmlns="http://www.w3.org/2000/svg">
                                                <path
                                                    d="M12.0008 17L6.12295 20.5902L7.72105 13.8906L2.49023 9.40983L9.35577 8.85942L12.0008 2.5L14.6458 8.85942L21.5114 9.40983L16.2806 13.8906L17.8787 20.5902L12.0008 17Z">
                                                </path>
                                            </svg></div>
                                        <div class="box-star"><svg stroke="currentColor"
                                                fill="currentColor" stroke-width="0" viewBox="0 0 24 24" height="1em"
                                                width="1em" xmlns="http://www.w3.org/2000/svg">
                                                <path
                                                    d="M12.0008 17L6.12295 20.5902L7.72105 13.8906L2.49023 9.40983L9.35577 8.85942L12.0008 2.5L14.6458 8.85942L21.5114 9.40983L16.2806 13.8906L17.8787 20.5902L12.0008 17Z">
                                                </path>
                                            </svg></div>
                                        <div class="box-star"><svg stroke="currentColor"
                                                fill="currentColor" stroke-width="0" viewBox="0 0 24 24" height="1em"
                                                width="1em" xmlns="http://www.w3.org/2000/svg">
                                                <path
                                                    d="M12.0008 17L6.12295 20.5902L7.72105 13.8906L2.49023 9.40983L9.35577 8.85942L12.0008 2.5L14.6458 8.85942L21.5114 9.40983L16.2806 13.8906L17.8787 20.5902L12.0008 17Z">
                                                </path>
                                            </svg></div>
                                    </div>
                                </div>
                            </div>
                            <div class="container-address">
                                <hr class="divider-horizontal">
                                <div class="container-location">
                                    <div class="container-item-location me-1"><svg stroke="currentColor" fill="currentColor"
                                            stroke-width="0" version="1.1" viewBox="0 0 16 16" height="1em" width="1em"
                                            xmlns="http://www.w3.org/2000/svg">
                                            <path
                                                d="M8 0c-2.761 0-5 2.239-5 5 0 5 5 11 5 11s5-6 5-11c0-2.761-2.239-5-5-5zM8 8.063c-1.691 0-3.063-1.371-3.063-3.063s1.371-3.063 3.063-3.063 3.063 1.371 3.063 3.063-1.371 3.063-3.063 3.063zM6.063 5c0-1.070 0.867-1.938 1.938-1.938s1.938 0.867 1.938 1.938c0 1.070-0.867 1.938-1.938 1.938s-1.938-0.867-1.938-1.938z">
                                            </path>
                                        </svg></div>
                                    <div class="container-item-location"><span class="tipography">Carretera A Puerto Ju Rez
                                            Punta Sam Km 1.5 Lt 128, Cancún, Mexico</span></div>
                                </div>
                            </div>
                        </div>
                        <div class="box-icon-container">
                            <div class="container-text-icon "
                                style="justify-content: left;">
                                <div class="d-flex" style="align-items: center;">
                                    <div class="container-icon "><svg stroke="currentColor" fill="currentColor" stroke-width="0"
                                            viewBox="0 0 512 512" height="1em" width="1em" xmlns="http://www.w3.org/2000/svg">
                                            <path
                                                d="M502.05 57.6C523.3 36.34 508.25 0 478.2 0H33.8C3.75 0-11.3 36.34 9.95 57.6L224 271.64V464h-56c-22.09 0-40 17.91-40 40 0 4.42 3.58 8 8 8h240c4.42 0 8-3.58 8-8 0-22.09-17.91-40-40-40h-56V271.64L502.05 57.6z">
                                            </path>
                                        </svg></div>
                                    <div class="container-text ">All Inclusive</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="d-none d-md-flex flex-column">
                        <div class="box-service-rate bg-rate">
                            <div class="rate-offe"><span>$4,020 MXN</span></div>
                            <div class="informations"><b>por noche</b></div>
                            <div class="rate"><span
                                    rate="4020">$4,020 MXN</span></div>
                            <div class="informations">
                                <span>Total</span> <span class="boxservicerate-total" >$8,039 MXN</span></div>
                            <div class="informations-tax"><span>Impuestos incluidos</span></div><button
                                type="button" class="btn-reservar btn btn-primary">Ver habitaciones</button>
                        </div>
                    </div>

                    <div class="d-flex d-md-none align-items-center h-100 rate-top">
                        <div class="box-rate-top">
                            <div class="item-rate-top"><span class="text-rate-top">Precio por noche </span><span
                                    >$4,020 MXN</span></div>
                            <div class="item-rate-top"><span class="text-rate-top"><span>Total </span><span
                                         total="8039">$8,039 MXN</span></span><span
                                    class="text-rate-top">Impuestos incluidos</span></div>
                        </div>
                        <div class="d-md-none d-lg-none d-xl-none"><button type="button"
                                class="btn-reservation btn btn-primary">Ver
                                habitaciones</button></div>
                    </div>
                </div>
                <div></div>
            </div>
        </div>
    </div>
</body>
</html>