<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../style/bootstrap.css">
    <link rel="stylesheet" href="../style/img-gallery-detail-hotel.css">
    <link rel="stylesheet" href="../style/common.css">
</head>
<body>
    <div class="container mt-5">
        <div class="gallery-container d-none d-md-block">
            <div class="collage container-xl" style="position: relative;">
                <div class="container-first"><img class="w-100 h-100"
                        alt="All Ritmo Cancun Resort &amp; Water Park - 1"
                        src="https://photos.hotelbeds.com/giata/bigger/00/008011/008011a_hb_a_010.jpg"></div>
                <div class="container-duo">
                    <div class="container-top"><img  class="w-100 h-100"
                            alt="All Ritmo Cancun Resort &amp; Water Park - 2"
                            src="https://photos.hotelbeds.com/giata/bigger/00/008011/008011a_hb_a_011.jpg"></div>
                    <div class="container-botom"><img  class="w-100 h-100"
                            alt="All Ritmo Cancun Resort &amp; Water Park - 3"
                            src="https://photos.hotelbeds.com/giata/bigger/00/008011/008011a_hb_a_012.jpg"></div>
                </div>
                <div class="container-duo">
                    <div class="container-top"><img class="w-100 h-100"
                            alt="All Ritmo Cancun Resort &amp; Water Park - 4"
                            src="https://photos.hotelbeds.com/giata/bigger/00/008011/008011a_hb_a_013.jpg"></div>
                    <div class="container-botom"><img class="w-100 h-100"
                            alt="All Ritmo Cancun Resort &amp; Water Park - 5"
                            src="https://photos.hotelbeds.com/giata/bigger/00/008011/008011a_hb_a_014.jpg"></div>
                </div>
                <div class="container-number-img" >
                    <div class="box-icon-container">
                        <div class="container-text-icon ">
                            <div class="d-flex" style="align-items: center;">
                                <div class="container-icon "><svg stroke="currentColor" fill="currentColor" stroke-width="0"
                                        viewBox="0 0 16 16" height="1em" width="1em" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M4.502 9a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3z"></path>
                                        <path
                                            d="M14.002 13a2 2 0 0 1-2 2h-10a2 2 0 0 1-2-2V5A2 2 0 0 1 2 3a2 2 0 0 1 2-2h10a2 2 0 0 1 2 2v8a2 2 0 0 1-1.998 2zM14 2H4a1 1 0 0 0-1 1h9.002a2 2 0 0 1 2 2v7A1 1 0 0 0 15 11V3a1 1 0 0 0-1-1zM2.002 4a1 1 0 0 0-1 1v8l2.646-2.354a.5.5 0 0 1 .63-.062l2.66 1.773 3.71-3.71a.5.5 0 0 1 .577-.094l1.777 1.947V5a1 1 0 0 0-1-1h-10z">
                                        </path>
                                    </svg></div>
                                <div class="container-text ">183</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="gallery-container d-block d-md-none">
            <div class="collage container-xl"  style="position: relative;">
                <div class="carousel slide">
                    <img
                                class="card-img card-img"
                                src="https://photos.hotelbeds.com/giata/bigger/00/008011/008011a_hb_a_010.jpg"
                                qui="img gallery-image gallery-image-0 HotelDetails">
                </div>
                <div class="container-number-img" qui="btn collage-num-images HotelDetails">
                    <div class="box-icon-container" qui="con num-images HotelDetails">
                        <div qui="con box-icon item-0 HotelDetails" class="container-text-icon ">
                            <div class="d-flex" style="align-items: center;">
                                <div class="container-icon "><svg stroke="currentColor" fill="currentColor" stroke-width="0"
                                        viewBox="0 0 16 16" height="1em" width="1em" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M4.502 9a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3z"></path>
                                        <path
                                            d="M14.002 13a2 2 0 0 1-2 2h-10a2 2 0 0 1-2-2V5A2 2 0 0 1 2 3a2 2 0 0 1 2-2h10a2 2 0 0 1 2 2v8a2 2 0 0 1-1.998 2zM14 2H4a1 1 0 0 0-1 1h9.002a2 2 0 0 1 2 2v7A1 1 0 0 0 15 11V3a1 1 0 0 0-1-1zM2.002 4a1 1 0 0 0-1 1v8l2.646-2.354a.5.5 0 0 1 .63-.062l2.66 1.773 3.71-3.71a.5.5 0 0 1 .577-.094l1.777 1.947V5a1 1 0 0 0-1-1h-10z">
                                        </path>
                                    </svg></div>
                                <div class="container-text ">183</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>