<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../style/bootstrap.css">
    <link rel="stylesheet" href="../style/loader.css">
    <link rel="stylesheet" href="../style/common.css">
</head>
<body>
    <div class="container-loading">
        <div class="row-container">
            <div class="spinner-border loadings" role="status"><span class="visually-hidden"></span></div>
        </div>
    </div>
</body>
</html>