<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../style/bootstrap.css">
    <link rel="stylesheet" href="../style/room-detail-modal.css">
    <link rel="stylesheet" href="../style/common.css">
</head>

<body>
    <div role="dialog" aria-modal="true" class="fade wrapper-collage modal show" tabindex="-1"
        style="display: block; padding-right: 8px;">
        <div class="modal-dialog modal-fullscreen">
            <div class="modal-content">
                <div class="modal-header">
                    <div class="modal-title h4">Información de la habitación</div>
                    <button type="button" class="btn-close" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="container-info-room container">
                        <div class="row">
                            <div class="mb-4 col-md-6 order-md-last">
                                <div class="container-caroulsel">
                                    <div class="container-img position-relative"><img alt="Junior Suite Superior - 1"
                                            src="https://img.cdnpth.com/media/YEpfdsq5ZGk5DthX_GFJm2plCm8=/720x480/04/34/50/04345007.jpg"
                                            class="card-img loading d-block w-100 info-room-slide-img"
                                             width="100%" height="100%"
                                            style="opacity: 1;"></div>
                                </div>
                                <div class="contant-btn">
                                    <div class="box-service-rate"><small
                                            class="text-muted">por noche</small>
                                        <div class="rate">$3,660 MXN</div>Total $7,320 MXN<small
                                            class="text-muted">Impuestos incluídos</small>
                                    </div><button type="button"
                                        class="btn-reservation btn btn-primary">Reservar</button>
                                </div>
                            </div>
                            <div class="col-md-6 order-md-first">
                                <h3 class="title">Junior Suite Superior</h3>
                                <div class="box-icon-container">
                                    <div class="container-text-icon ">
                                        <div class="d-flex" style="align-items: center;">
                                            <div class="container-icon "><svg stroke="currentColor" fill="currentColor"
                                                    stroke-width="0" viewBox="0 0 512 512" height="1em" width="1em"
                                                    xmlns="http://www.w3.org/2000/svg">
                                                    <path
                                                        d="M502.05 57.6C523.3 36.34 508.25 0 478.2 0H33.8C3.75 0-11.3 36.34 9.95 57.6L224 271.64V464h-56c-22.09 0-40 17.91-40 40 0 4.42 3.58 8 8 8h240c4.42 0 8-3.58 8-8 0-22.09-17.91-40-40-40h-56V271.64L502.05 57.6z">
                                                    </path>
                                                </svg></div>
                                            <div class="container-text ">All Inclusive</div>
                                        </div>
                                    </div>
                                </div><br>
                                <h4 class="subtitle">Políticas de cancelación</h4>
                                <p cancellationdeadline="2024-07-13T00:00:00+00:00">No puedes cancelar ni realizar
                                    cambios</p>
                                <div>
                                    <h4 class="subtitle">Amenidades en la habitación</h4>
                                    <h5 class="mt-2">0</h5>
                                    <div class="content-list-ameni">
                                        <div class="box-icon-container">
                                            <divx class="container-text-icon ">
                                                <div class="d-flex" style="align-items: center;">
                                                    <div class="container-icon color-primary"><svg stroke="currentColor"
                                                            fill="none" stroke-width="2" viewBox="0 0 24 24"
                                                            stroke-linecap="round" stroke-linejoin="round" height="1em"
                                                            width="1em" xmlns="http://www.w3.org/2000/svg">
                                                            <polyline points="20 6 9 17 4 12"></polyline>
                                                        </svg></div>
                                                    <div class="container-text ">Aire Acondicionado</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>