<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../style/bootstrap.css">
    <link rel="stylesheet" href="../style/voucher.css">
    <link rel="stylesheet" href="../style/common.css">
    <link rel="stylesheet" href="../style/about-services-hotel.css">
</head>
<body>
    <div class="container">
        <div class="py-1 pb-1 container-page mt-5">
            <div class="container-voucher-information  bg-white p-4 mb-4">
                <div class="row">
                    <div class="col-12 col-md-3">
                        <img alt="Junior Suite Superior - 1" src="https://img.cdnpth.com/media/YEpfdsq5ZGk5DthX_GFJm2plCm8=/720x480/04/34/50/04345007.jpg" class="card-img d-block img-fluid rounded">
                    </div>
                    <div class="col-12 col-md-7">
                        <div class="mb-2">
                            <p class="title">All Ritmo Cancun Resort &amp; Water Park
                            </p>
                            <div class="box-title-content">
                                <div class="container-stars">
                                    <div class="box-star"><svg stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 24 24" height="1em" width="1em" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M12.0008 17L6.12295 20.5902L7.72105 13.8906L2.49023 9.40983L9.35577 8.85942L12.0008 2.5L14.6458 8.85942L21.5114 9.40983L16.2806 13.8906L17.8787 20.5902L12.0008 17Z">
                                            </path>
                                        </svg></div>
                                    <div class="box-star"><svg stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 24 24" height="1em" width="1em" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M12.0008 17L6.12295 20.5902L7.72105 13.8906L2.49023 9.40983L9.35577 8.85942L12.0008 2.5L14.6458 8.85942L21.5114 9.40983L16.2806 13.8906L17.8787 20.5902L12.0008 17Z">
                                            </path>
                                        </svg></div>
                                    <div class="box-star"><svg stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 24 24" height="1em" width="1em" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M12.0008 17L6.12295 20.5902L7.72105 13.8906L2.49023 9.40983L9.35577 8.85942L12.0008 2.5L14.6458 8.85942L21.5114 9.40983L16.2806 13.8906L17.8787 20.5902L12.0008 17Z">
                                            </path>
                                        </svg></div>
                                    <div class="box-star"><svg stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 24 24" height="1em" width="1em" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M12.0008 17L6.12295 20.5902L7.72105 13.8906L2.49023 9.40983L9.35577 8.85942L12.0008 2.5L14.6458 8.85942L21.5114 9.40983L16.2806 13.8906L17.8787 20.5902L12.0008 17Z">
                                            </path>
                                        </svg></div>
                                </div>
                            </div>
                        </div>
                        <p class="data-list-voucher"><strong>Checking:</strong>18/02/2025</p>
                        <p class="data-list-voucher"><strong>Checkout:</strong>19/02/2025</p>
                        <p class="data-list-voucher"><strong>Dirección:</strong>Carretera a Puerto Juarez. Punta Sam KM 1.5 Lt 128</p>
                        <p class="data-list-voucher"><strong>Titular de la reserva:</strong>Hector Bastida</p>
                    </div>
                    <div class="col-12 col-md-2">
                        <div class="content-voucher">
                            <span>Clave de reservación:</span>
                            <p>263</p>
                        </div>
                        <div class="content-voucher">
                            <span>Estado de la reserva:</span>
                            <p>Confirmado</p>
                        </div>
                        <div class="content-voucher">
                            <span>Estado del pago:</span>
                            <p>PAGADO</p>
                        </div>
                    </div>
                </div>
                <div class="row mt-5">
                    <h1 class="section-title mb-3">
                        Habitación - DOUBLE STANDARD
                    </h1>
                    <div class="row">
                        <div class="col-12 col-md-5">
                            <div class="detail-row">
                                <strong>Titular habitación</strong>
                                <p>Hector Bastida</p>
                            </div>

                            <div class="detail-row">
                                <strong>Referencia</strong>
                                <p>62-45875458</p>
                            </div>


                            <div class="detail-row">
                                <strong>CheckIn</strong>
                                <p>20/07/2025</p>
                            </div>

                            <div class="detail-row">
                                <strong>CheckOut</strong>
                                <p>29/07/2025</p>
                            </div>
                        </div>
                        <div class="col-12 col-md-4 offset-md-1">
                            <div class="detail-row">
                                <strong>Plan Adultos</strong>
                                <p>Todo Incluido</p>
                            </div>


                            <div class="detail-row">
                                <strong>Adultos</strong>
                                <p>2</p>
                            </div>

                            <div class="detail-row">
                                <strong>Niños</strong>
                                <p>0</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row mt-5">
                    <h1 class="section-title mb-3">
                        Políticas de cancelación
                    </h1>

                    <p>Puedes cancelar hasta el Jueves, 30 de Enero del 2025</p>
                </div>
                <div class="row mt-5">
                    <h1 class="section-title mb-3">
                        Comentarios acerca de la tarifa
                    </h1>

                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
                </div>
            </div>

            <div class="container-information-service-bg p-4 bg-white mb-4">
                <div class="rounded-5 bg-white w-100">
                    <div class="border-bottom-solid pb-4">
                        <h2 class="mb-4 text-subtitle">¿Qué contiene?</h2>
                        <div class="box-hashotel-column-list box-tittle-column-state">
                            <div class="box-hashotel-item">
                                <h5 class="py-3"><b>Instalaciones</b></h5>
                                <div class="box-icon-container">
                                    <div class="container-text-icon ">
                                        <div class="d-flex" style="align-items: center;">
                                            <div class="container-icon color-primary"><svg stroke="currentColor" fill="none"
                                                    stroke-width="2" viewBox="0 0 24 24" stroke-linecap="round"
                                                    stroke-linejoin="round" height="1em" width="1em"
                                                    xmlns="http://www.w3.org/2000/svg">
                                                    <polyline points="20 6 9 17 4 12"></polyline>
                                                </svg></div>
                                            <div class="container-text ">3 Jacuzzis</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="box-more-details"><button type="button"
                                class="btn-more-details btn btn-link">Ver más <svg
                                    stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 512 512"
                                    height="1em" width="1em" xmlns="http://www.w3.org/2000/svg">
                                    <path
                                        d="M256 294.1L383 167c9.4-9.4 24.6-9.4 33.9 0s9.3 24.6 0 34L273 345c-9.1 9.1-23.7 9.3-33.1.7L95 201.1c-4.7-4.7-7-10.9-7-17s2.3-12.3 7-17c9.4-9.4 24.6-9.4 33.9 0l127.1 127z">
                                    </path>
                                </svg></button></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>